.message {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px 16px;
}


.message span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.message p {
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 16px;
}

.message.user {
    color: #fff;
    align-items: end;

    & span {
        background-color: #0ea5fc6c;
        border: 1px solid #29b1ff;
        font-size: 12px;
    }

    & p {
       
        background-color: #0ea5fc6c;
        border: 1px solid #0ea5fc;
    }

}

.message.assistant {
    color: #fff;
    align-items: start;

    & span {
        background-color: #3030307f;
        border: 1px solid #303030;
    }

    & p {
        background-color: #2020207a;
        border: 1px solid #202020;
    }

}
