---
import Layout from "../layouts/Layout.astro";
import ContainerMessage from "../components/ContainerMessage";
import FormMessage from "../components/FormMessage";
import InformationProgressIA from "../components/InformationProgressIA";
---

<Layout title="Welcome to Astro.">
  <div>
    <ContainerMessage client:idle />
    <FormMessage client:idle />
    <InformationProgressIA client:only="react"/>
  </div>
</Layout>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

</style>


